<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <script>
    setInterval(function() {
        $.ajax({
            url: '/check-panne',
            method: 'GET',
            success: function() {
            },
            error: function() {
            console.error('Une erreur s\'est produite lors de la vérification de panne.');
            }
        });
    }, 3000);
    function runCommand() {
        $.ajax({
            url: '/run-random-data-command',
            method: 'GET',
            success: function(response) {
            },
            error: function(error) {
                console.error(error);
            }
        });
        }

        // Lancer la commande au chargement initial de la page
        runCommand();

        // Définir une minuterie pour lancer la commande à intervalles réguliers (par exemple, toutes les 3 secondes)
        setInterval(runCommand, 3000);

    </script>
        <header class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
            <a class="navbar-brand" href="/">WebreatheApp</a>

            <!-- Bouton pour le menu sur les petits écrans -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <!-- Lien vers le dashboard admin -->
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Dashboard Admin</a>
                </li>
                <!-- Lien pour ajouter un module -->
                <li class="nav-item">
                    <a class="nav-link" href="/add-module">Ajouter un module</a>
                </li>
                </ul>
            </div>
            </div>
        </header>
    
        {% block body %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
